body {
    padding: 0;
    margin: 0;
}

#map,
body,
html {
    height: 100%;
}

.legend {
    padding: 10px 10px 10px 10px;
    font-family: Sanchez, serif;
    font-weight: bold;
    line-height: 20px;
    background-color: white;
    color: black;
    width: auto;
}

.legend color {
    width: 25px;
    height: 20px;
    float: right;
    margin-left: 5px;
    opacity: 0.9;
}

h4 {
    margin: 0px;
    padding: 0px;
}